# Wenn der Webspace auf diesen Ordner zeigt: interne Ordner sperren
Options -Indexes
<IfModule mod_authz_core.c>
  <FilesMatch "\.(sqlite|db|md)$">
    Require all denied
  </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
  <FilesMatch "\.(sqlite|db|md)$">
    Order allow,deny
    Deny from all
  </FilesMatch>
</IfModule>
RedirectMatch 403 ^/(.*/)?(app|storage)(/|$)
